/* General styling */
html {
    height: 100%;	
}
body {
	display: flex;
	flex-flow: column wrap;
	
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	min-width: 100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

input {
	padding: 10px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 5px;
	border: none;
}

a {
	color: #99ccff;
}

table {
	border: none;
	border-collapse: collapse;
}

table * {
	margin: 0px;
}

th {
	text-align: left;
	padding: 5px;
}

td {
	text-align: left;
	padding: 5px;
	vertical-align: top;
}

/* Tags */
.nowrap {
	white-space: nowrap;
}

.subtitle {
	color: grey;
	font-style: italic;
}

.secondary {
	color: rgb(200, 200, 200);
}

/* Generic containers */
.main_content {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;

	background: #111111;
	color: white;
	padding: 30px;
}

.footer {
	color: white;
	background: black;
	padding: 3px;
	font-size: 12px;
}

.navbar {
	display: flex;
	flex-flow: row wrap;
	
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
	
	background: black;
		text-decoration: none;

}

.navbar a {
	display: block;
	padding: 5px;
	
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	display: block;
	background: #737CA1;
}

.navbar a:first-child {
	margin-right: auto;
	flex-grow: 0;
}


/* Multi-element constructs */
.toggle_box {
	display: none;
}

.toggle_box + label > *{
	display: none;
}

.toggle_box:checked + label > *{
	display: initial;
}

.js_toggle_box_checked .toggle_visible {

}

.js_toggle_box_unchecked .toggle_visible {
	display: none;
}

.js_toggle_box_checked .toggle_visible_inverse {
	display: none;
}

.js_toggle_box_unchecked .toggle_visible_inverse {

}

.tooltip {
	position: relative;

}
.tooltip .tooltiptext {
	visibility: hidden;

	background: rgb(30,30,30, 0.9);
	padding: 10px;
	
	position: absolute;
	z-index: 1;
	
	left: 101%;
	top: -20px;
	height: 52px;
	width: 300px;
	resize: vertical;

	overflow-y: auto;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

