body {
	display: flex;
	flex-flow: column wrap;
	
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
	min-width: 100vh;
	
	font-family: 'Quicksand', sans-serif;
}

.navbar {
	display: flex;
	flex-flow: row wrap;
	
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
	
	background: black;
	
	width: 100%;
}

.navbar a {
	display: block;
	padding: 5px;
	
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	display: block;
	background: #4f4f1b;
}

.navbar a:first-child {
	margin-right: auto;
	flex-grow: 0;
}

.main_content {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;

	background: #111111;
	color: white;
	padding: 30px;
}

.footer {
	color: white;
	background: black;
	padding: 3px;
	font-size: 12px;
}

input {
	padding: 10px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 5px;
	border: none;
}