{% extends "base_generic.html" %}

{% block content %}

{% if course_exists %}
	<h1> {{ subject_code }} {{ catalog_code }}</h1>
	<h3><a href="{{course.subject.getAbsoluteUrl}}">{{ course.subject.name }}</a> - {{ course.name }}</h3>
	

	
	
	
	{% if offering_exists %}
		<!-- https://www.chartjs.org/docs/latest/general/responsive.html#important-note! -->
		
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
		</script>
		<div class="chart_container">
			<canvas id="myChart">Chart of enrollment as a function of term.</canvas>
		</div>
		<script>
		Chart.defaults.global.defaultFontColor = 'white';
		var chartData = JSON.parse("{{chart_data|escapejs}}")
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: chartData,
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}],
					xAxes:[{
						ticks: {
							padding: 10
						}
					}],
				},
				title: {
					display: true,
					text: 'Enrollment'
				},
				tooltips: {
						mode: 'index',
						intersect: false,
				},
				maintainAspectRatio: false,
			},
		});
		</script>
	
		<div>
		<input type="checkbox" id="showOfferedCheck" onclick="updateShowOffered()"> 
		<label for="showOfferedCheck">Show only terms where {{ subject_code }} {{ catalog_code }} was offered<br/><br/></label></div>
		
		<div>
		<table id="termTable">
			<tr>
				<th></th>
				<th>Term</th>
				<th></th>
				<th>Status</th>
				{% for type in section_types %}<th>{{type}}</th>{% endfor %}
				<th>Instructors</th>
			</tr>
				
			{% for term, data in term_data_items %}
				{% if data.hasData %}

				<tr onclick="updateToggleBox(this)" style="cursor:pointer;" class="js_toggle_box_unchecked" >
					<td  >+</td>
					<td>{{term}}</td>
					<td class="nowrap">{{term.reverseName}}</td>
					<td class="nowrap">{% if data.isCancelled %}<span title="cancelled">X</span>{% else %}<span title="offered">✓</span>{% endif %}</td>
					
					{% for sectionType, sectionData in data.enrollment_items %}
					<td>
							<div class="tooltip">
							{{sectionData.totalEnrollment}}/{{sectionData.maxEnrollment}}<br/>
							<div class="nowrap secondary toggle_visible">
								Sections: {{sectionData.sectionCount}}<br/>
								Average Size: {{sectionData.averageSize}}<br/>
								
								{% for sec in sectionData.sections %}
								<br/>{{ sectionType }} {{ sec.num}}: {% if sec.isCancelled %}X{% else %} {{sec.total}}/{{sec.max}} {% endif %} 
								{% endfor %}
								</div>
							</div>
					</td>
					{% endfor %}
					
					<td>
						{% if data.instructors %}
						{% for inst in data.firstInstructors %}
						<a href="{{ inst.getAbsoluteUrl }}">{{ inst }}</a>&nbsp; <br/ class="toggle_visible">
						{% endfor %}
						{% if data.nextInstructors %} 
								<span class="toggle_visible_inverse">+ {{data.nextInstructors|length}}</span>
								{% for inst in data.nextInstructors %}
									<a class="toggle_visible" href="{{ inst.getAbsoluteUrl }}">{{ inst }}</a>&nbsp;<br/ class="toggle_visible">
								{% endfor %}
						{% endif %}
						{% else %}
						?
						{% endif %}
					</td>
				</tr>
				{% else %}
				<tr style="color:grey;" class="offeredUnknown">
					<td></td>
					<td>{{ term.code }}</td>
					<td class="nowrap">{{ term.reverseName }}</td>
					<td><span title="no data">?</span></td>
					<td></td>
				</tr>
				
				{% endif %}
			{% endfor %}
			
			
			{% comment %}
			{% for offering in offering_list %}
				<tr><td>{{ offering.term.name }}</td></tr>
			{% endfor %}
			
			{% endcomment %}
		</table>
		</div>
		<script>
		
			function updateToggleBox(element) {
				if (element.className == "js_toggle_box_unchecked") {
					element.className = "js_toggle_box_checked"
				} else {
					element.className = "js_toggle_box_unchecked"
				}
			}
			
			function updateShowOffered() {
				showOfferedCheck = document.getElementById("showOfferedCheck")
				onlyShowOffered = showOfferedCheck.checked
				
				table = document.getElementById("termTable")
				
				for (var i = 0, row; row = table.rows[i]; i++) {

					if (row.className == "offeredUnknown") {

						if (onlyShowOffered == true) {
							console.log("Filtering row, offeredUnkonwn = true, hiding row")

							row.style.display = "none"
						} else {
							console.log("Filtering row, offeredUnkonwn = true, showing row")
							row.style.display = ""
						}
					} else {
						console.log("Filtering row, offeredUnkonwn = false")

					
					}
				}
				
				
			}
			
			document.getElementById("showOfferedCheck").checked = true
			updateShowOffered()
		</script>
		
		
	{% else %}
		<p>There is no record of this course being offered.</p>
	{% endif %}
{% else %}
	Course with code '{{ subject_code }} {{ catalog_code }}' not found.
{% endif %}
{% endblock %}