{% extends "base_generic.html" %}

{% block content %}

{% if exists %}
	<h1> {{ subject_code }} {{ catalog_code }}</h1>
	<h3> {{ course.name }} </h3>
	{% if offering_list %}
		This course has been offered in the following terms:
		<ul>
			{% for offering in offering_list %}
				<li>{{ offering.term.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		There is no record of this course being offered.
	{% endif %}
{% else %}
	Course with code '{{ subject_code }} {{ catalog_code }}' not found.
{% endif %}
{% endblock %}