{% extends "base_generic.html" %}

{% block content %}

{% if exists %}
	<h1> {{ subject_code }} </h1>
	<h3> {{ subject_name }} </h3>
	
	{% if course_list %}
	<ul>
	{% for course in course_list %}
		<li><a href="{{ course.getAbsoluteUrl }}">{{ course.subject }} {{ course.code }} - {{ course.name }}</a></li>
	{% endfor %}
	</ul>
	{% else %}
		<p>There are no records found of courses under this subject.</p>
	{% endif %}
{% else %}
	Subject with code '{{ subject_code }}' not found.
{% endif %}
{% endblock %}